name: Update

on:
  push:
    branches:
      - main  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.KEY }}

    - name: Deploy to Remote Server
      env:
        REMOTE_USER: ${{ secrets.USERNAME }}
        REMOTE_HOST: ${{ secrets.HOST }}
        #REMOTE_PATH: /var/www/html/nginxTest
      run: |
        ssh -o StrictHostKeyChecking=no $REMOTE_USER@$REMOTE_HOST << 'EOF'
          cd ./temp/P3-public3
          git fetch --all
          sudo git pull origin main
        EOF
