name: Update and (Re)Start Containers

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.KEY }}

      - name: Deploy to Remote Server
        env:
          REMOTE_USER: ${{ secrets.USERNAME }}
          REMOTE_HOST: ${{ secrets.HOST }}
        run: |
          ssh -o StrictHostKeyChecking=no $REMOTE_USER@$REMOTE_HOST << 'EOF'
            cd ./P3-public3
            git fetch --all
            sudo git pull origin main
          EOF

      - name: Update Docker Image
        run: |
          docker pull blagotch/docker-frontend-backend-db-api
          docker pull blagotch/docker-frontend-backend-db-web
          docker pull mongo:4.4.6
          if docker ps -a | grep -q my-container; then
            docker-compose down
          else
            docker-compose up -d 
          fi

